* {
    margin: 0;
    padding: 0;
}

Body {
    background-color: goldenrod;
    min-height: 100vh;
}

.contact h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

.contact h2 {
    font-size: 30px;
}

.contact h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

input {
    width: 60%;
    border: none;
    border-bottom: 1px solid gold;
    outline: none;
    padding: 20px;
}

#send {
    width: 60%;
    border: none;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
}

#send:hover {
    color: gold;
    background-color: #ffffff;
    outline: 1px solid gold;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.contact {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    padding: 30px 30px 30px 30px;
    box-shadow: 30px 30px 30px #8a5a00;
    position: relative;
    margin-bottom: 150px;
}

.center-box {
    margin-top: auto;
    margin-bottom: 60px;
    padding: 40px 60px;
    background-color: #ffffff;
    flex-basis: 75%;
    display: block;
}

.right-box {
    flex-basis: 20%;
    background-color: gold;
}

#blackbox {
    width: 40%;
    height: 70%;
    color: #ffffff;
    background-color: #000000;
    position: absolute;
    right: 0;
    bottom: 15%;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
}